<!DOCTYPE html>
<html>
<head>
  <title>Hyde</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/flash_messages' if !flash.empty? %>

<%= yield %>

</body>
</html>
